<BR><BR><center>
<form action="<?php echo $PHP_SELF; ?>" method=post>
	Search: <input type=text name=searchfor>
</form>

<BR><BR>

<a href="addhost.php">ADD ME!!</a><BR>
<a href="removehost.php">REMOVE ME!!</a><BR>
You ARE <?php if(!$host->host_exists($REMOTE_ADDR)) print "<font color=ff0000>NOT</font> "; ?>on the list to be scanned.<BR><BR>
<BR>
<a href="download.php">Download IndeXor</a>
<BR>
