a:link {  text-decoration: none}
a:visited {  text-decoration: none; }
a:active {  text-decoration: none; }
a:hover {  text-decoration: none; }
#foldheader{cursor:pointer;cursor:hand ; list-style-image:url(pix/smallplus.gif)}
#foldinglist{list-style-image:url(pix/smallminus.gif)}
